@import "src/shared/styles/vars";

.form {
  width: 100%;
  max-width: 600px;
  min-height: 650px;
  background-color: $base-color;
  border-radius: 10px;
  margin: 20px auto;
  padding: 30px;
  :global(.ant-col) {
    margin: 10px 0;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
  }
}
.btn {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  :global(.ant-btn) {
    a:hover {
      color: $base-color;
    }
  }
}
@media(max-width: 600px) {
  .container {
    padding: 10px;
  }
}