@import "src/shared/styles/vars";
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused, .ant-input:focus, .ant-input-focused {
  box-shadow: none;
}
.hasError {
  .ant-input-affix-wrapper:not(.ant-input-textarea-affix-wrapper) {
    border-color: $coral!important;
  }
  .form-item-mask-input {    border-color: $coral!important;}

}
.form-item-mask__span:hover {
  border-color: #0050B2;
  background-color: #F5F5F5;
}
.form-item-mask__span {
  background: #f5f5f5;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 10.4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
  line-height: 1.571;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
  outline: none;
  &:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 0 0.1px #0050b2;
  }

  &.hasError {
    border-color: #ff4d4f;
    box-shadow: 0 0 0 0.1px #ff4d4f;
  }
}

.form-item__input-mask {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.form-item {
  margin-bottom: 20px;
  .ant-input-number-affix-wrapper {
    width: 100%!important;
  }
  .ant-input-affix-wrapper:not(.ant-input-textarea-affix-wrapper) {
    padding: 11px 20px;
    .ant-input {
      box-shadow: none !important;
    }
    .ant-input-number {
      width: 100% !important;
    }
  }

  .ant-input-textarea-affix-wrapper.ant-input-affix-wrapper {
    textarea {
      padding: 11px 20px;
    }
  }

  .ant-input-data-count {
    margin-top: 5px;
  }
  .ant-select-tree-node-selected {
    color: $base-color !important;
  }
  
  .ant-input-number {
    width: 100% !important;
  }
}

